body {

    background-color:#008080;
}
p {
    background-color: #d7d7d9;
    border-style: groove;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 300px;
    margin-left: 200px
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    border-radius: 5px;


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d7d7d9;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #b0b0b0;
}
.media {
    height: 50%;
    weight: 50%;
}